<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
</head>
<body>

    <form action="" method="POST">
        {% csrf_token %}

        <!-- 
            <p>Username: {{ form.username }}</p>
            <p>Password: {{ form.password }}</p> 
        -->
       
        <p>
            <input type="text" placeholder="Enter username" name="username">
        </p>     
        <p>
            <input type="password" placeholder="Enter password" name="password">
        </p>
        <button>Login</button>

        <a href="/auth/password_reset">Forgot Password?</a>
    </form>
    
</body>
</html>