.collections {
    text-align: center;
}

.section-title {
    font-size: 20px; /* шрифт */
    font-weight: 600; /* жирность */
    text-transform: uppercase; /* Заглавные, прописные буквы */

    margin-bottom: 50px; /* отступы-снизу */
}


.wrap {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.collection-item {
    width: 22%;
    margin-bottom: 30px;
    margin-right: 30px;
}

.collection-item > img {
    width: 100%;
}


.container {
    padding-left: 10%;
    padding-right: 10%;
}

.collection-info {
    background-color: #fff;
    line-height: 1.5;
    color: #000;
    /* 0-9 */
    /* A-F */
}

.collection-info > h3 {
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 30px;
    font-weight: 200;
    transition: .4s;
}


.collection-info > p {
    font-size: 14px;
}

.collection-item:hover h3 {
    color: #c3eafb;
}